*{
    margin: 0;
    padding: 0;box-sizing: border-box;color: black;
    font-family: monospace;
}
::-webkit-scrollbar{
    display: none;
}
font-face{
    font-family: 'Monospace';
    src: url("Monospace.ttf");
}
body{
    font-family: "Monospace", sans-serif;
    background: white;
}
.s1{
    background: white;
    width: 100%;height: 130vh;display: flex;
    align-items: center;justify-content: center;
}
.s1c{
    width: 86%;
    height: 100%;
    /* background-color: aquamarine; */
    position: relative;
}
.s1 .s1c nav{
    width: 100%;
    height: 2cm;
    background-color: white;display: flex;align-items: center;justify-content: space-between;
}
.cm{
    width: 20.5%;
    height: 48%;
    /* border: 1px solid black; */
    margin-left: 40%;
    margin-top: 4.5cm;position: relative;overflow: visible;
}
.lm{
    width: 12%;
    height: 33%;
    position: absolute;
    margin-top: 7.8cm;
}
.rm{
    width: 24%;
    height: 8%;
    display: flex;
    align-items: center;
    gap: 1.7vw;
    margin-left: 75%;
}
#p1{
    font-size: 10px;
}
#sus{margin-top: 3px;font-weight: bolder;}
#p2{margin-top: 3px; font-size: 10px;line-height: 10px; font-weight: normal;font-family: Arial, Helvetica, sans-serif;}
.r{width: 22.5%;height: 100%;border-radius: 50%;}
.img1{width: 100%;height: 70%;margin-top: 3.5px;}
.img{width: 100%;height: 100%;overflow: visible;display: block;
  position: relative;background-color: blanchedalmond;}
img{width: 100%;height: 100%;object-fit: cover;}
.hd{
    position: absolute;
    margin-left: 37%;
    margin-top: 2.6cm;
    z-index: 10;
}
#h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: bolder;
    line-height: 3.4rem;
}
.s2{
    width: 100%;height: 25vw;background-color: white;line-height: 3vw;
}
#p6{
    font-size: large;
    text-align: end;
}
.s2h{
    width: 86%;height: 100%;margin-left: 7%;display: flex;align-items: center;justify-content: space-between;
}
.s3{
    width: 100%;height: 100vh;background-color: white;display: flex;justify-content: space-around;
}
.s3rit{
    width: 13%;height: 60%;margin-top: 3.5%;
}
.s3lft{
    width: 20%;height: 90%;margin-top: 3.5%;
}
.s3rit .cloud1, .s3lft .cloude2{
    width: 100%;
}
.s3rit .cloud1{
    height: 69%;
}
.s3lft .cloude2{
    height: 78%;
}
.s3rit .cloud1 img, .s3lft .cloude2 img{
    width: 100%;height: 100%;object-fit: cover;
}
.s4{
    width: 100%;height: 85vh;background-color: white;display: flex;
}
.s4lft{
    width: 67%;height: 90%;margin-top: 4%;
}
.s4rit{
    width: 33%;height: 90%;margin-top: 4%;
    padding-left: 1.5cm;align-content: center;
}
.s4img{
    width: 100%;height: 100%;
}
.s4img img{
    width: 100%;height: 100%;object-fit: cover;
}
.s5{
    width: 100%;height: 100vh;background-color: white;
}
#vid{
    width: 100%;height: 100%;display: block;object-fit: cover;
}
.cm .img img:hover{
    filter: blur(1.5px);
    transition: all 0.3s ease-in-out;
}
.lm .img1 img:hover{
    filter: blur(1.5px);
    transition: all 0.3s ease-in-out;
}